.telaSeguidores{
    background-color: #292929;
    height: 70%;
    width: 20%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* gap: 15px; */
    border-radius: 10px;
    color: white;
    overflow: hidden;
    /* position: relative; */
}

.header{
    background-color: #1F1F1F;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
}

.setaEsquerda{
    justify-self: flex-start;
    text-decoration: none;
    color: white;
}

.qntdRepositorios{
    color: white;
    justify-self: center;
    margin-right: 30%;
}

.listaRepositorios{
    background-color: #292929;
    width: 100%;
    overflow: auto;
}

.repositorio{
    padding: 15px;
    border-bottom: 1px solid #3B3B3B;
}

.repoDescricao{
    font-size: 0.8rem;
}

.estrelaEPrivacidade{
    display: flex;
    justify-content: space-between;
}

.qntdEstrelas{
    display: flex;
    align-items: center;
}
.estrela{
    color: gold;
}


.repoPrivado{
    color: red;
}

.repoPublico{
    color: green;
}